﻿body {
    width:815px;
    margin:auto;
}
.principal {
    border: 2px solid black;
    border-radius: 5px;
    width: 805px;
    height: 248px;
    color: blue;
}

.fila {
    border: 2px solid black;
}

.anuncios {
    border: 1px solid black;
    border-radius: 5px;
    float: left;
    width: 285px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.contenido {
    border: 1px solid black;
    border-radius: 5px;
    float: right;
    width: 500px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.titulo {
    font-family: 'Comic Sans MS';
    padding: 0px;
    text-align: center;
}

.descripcion {
    padding: 5px;
}

.panizq {
    width: 250px;
    float: left;
}

.pander {
    float: right;
}

.total {
    font-weight: 700;
}
